<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">InfoSite</a>
            <p>An Informational Site</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-me">Contact</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>Contact Me</h1>
        <form action="/">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" maxlength="50" placeholder="Enter a subject">
            <label for="message">Message</label>
            <textarea name="message" id="message" placeholder="Enter a message"></textarea>
            <button type="button">Submit</button>
        </form>
    </div>

    <footer>
        Copyright &copy; 2024 | 
        <a href="https://www.github.com/mateyw" target="_blank" rel="noopener noreferrer">GitHub</a>
    </footer>
    
</body>
</html>